
[Desktop Entry]
Categories=GNOME;GTK;Utility;Accessibility;
Version=1.0
Type=Application
Terminal=false
Exec=sharada-braille-writer-2 %U
Name=Sharada-Braille-Writer-2
Icon=/usr/share/pyshared/sbw2/ui/Icon.png
MimeType=text/plain;
